.App {
  padding: 20px;
}

.main-title{
  text-align: center;
}
div.search-bar{
  width: 100%;
  margin: 0 5em 3em 5em;
}

.pagination-button-container{
  text-align: right;
}

a{
  color: #f05537;
  text-decoration: none;
}
a:hover{
  color: #bb4029;
}